.projects {
	display: flex;
	flex-direction: column;
	padding: 100px 0;

	&__filter {
		align-self: center;
		display: flex;
		margin-bottom: 100px;
		font-size: 18px;
		font-weight: 500;

		div {
			button {
				padding: 4px 12px;
				border-radius: 4px;
				background-color: $black;
				font-size: 18px;
				font-weight: 600;
				font-family: "Roboto";
				color: $white;
				transition: all 0.2s;

				&:hover {
					cursor: pointer;
					opacity: 1;
				}

				&.active {
					background: $blue;
				}
			}

			&:hover {
				cursor: pointer;

				button {
					transform: translateY(-2px);
				}
			}

			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		grid-gap: 20px;
		transition: all 0.2s;

		&__card {
			border-radius: 10px;
			background: $white;
			overflow: hidden;
			box-shadow: 0 5px 40px transparentize($black, 0.9);

			&__labels {
				display: flex;
				position: absolute;
				bottom: 10px;
				right: 10px;
				z-index: 5;
				font-family: "Roboto";
				font-weight: 600;
				font-size: 14px;
				color: $white;

				span {
					padding: 4px 10px;
					border-radius: 3px;
					text-shadow: 0 1px 4px transparentize($black, 0.7);
					box-shadow: 0 4px 7px transparentize($black, 0.8),
						0 1px 3px transparentize($black, 0.75);

					&:first-child {
						margin-right: 5px;
					}
				}

				&__ui {
					background: $pink;
				}

				&__web {
					background: $celeste;
				}
			}

			&__thumbnail {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				width: 100%;
				height: 200px;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					background: linear-gradient(
						to bottom,
						transparent,
						transparentize($black, 0.9)
					);
					width: 100%;
					height: 100%;
				}

				&.usigeek {
					background: $black;
				}

				&.stackandheap {
					background: linear-gradient(to right, #6049ba, #af3d65);
				}

				&.cucinanaturale {
					background: #68ca10;
				}

				&.swissapo {
					background: #fdba12;
				}

				img {
					width: 120px;
				}
			}

			&__content {
				padding: 20px;

				*:not(:last-child) {
					margin-bottom: 10px;
				}

				h2 {
					font-size: 24px;
					font-weight: 600;
				}

				p {
					color: transparentize($black, 0.5);
					// font-size: 14px;
				}

				button {
					background: $black;
					color: $white;
					border-radius: 4px;
					padding: 2px 10px;
					font-family: $main-font;
					font-size: 16px;
					font-weight: 600;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}
