// ========================================================
// VARIABLES
// ========================================================

// COLORS

$white: white;
$black: black;
$whitesmoke: #ededed;
$lighter-blue: #2568ff;
$blue: #2548ff;
$celeste: #0bbeff;
$pink: #ed39d1;
$orange: #ff7a00;

// TYPOGRAPHY

$main-font: "Poppins";

// BREAKPOINTS

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;

// ========================================================
// PARTIALS IMPORTS
// ========================================================

@import "../components/Container/container";
@import "../components/ScrollToTop/scrollToTop";
@import "../components/Header/header";
@import "../components/Hero/hero";
@import "../components/About/about";
@import "../components/Projects/projects";
@import "../components/Projects/modal";
@import "../components/Contact/contact";
@import "../components/Footer/footer";

// ========================================================
// GLOBAL STYLES
// ========================================================

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: $whitesmoke;
	font-family: $main-font;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

button,
input,
textarea {
	border: 0;
	outline: none;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;

	@media screen and (max-width: $laptop) {
		font-size: 45px;
	}

	@media screen and (max-width: $mobile-m) {
		font-size: 40px;
	}
}

button {
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.7;
	}
}
