// ========================================================
// VARIABLES
// ========================================================

// COLORS

$white     : white;
$black     : black;
$whitesmoke: #ededed;
$blue      : #2548ff;
$pink      : #ed39d1;
$orange    : #ff7a00;

// TYPOGRAPHY

$main-font : "Poppins";

// BREAKPOINTS

$tablet    : 768px;
$laptop    : 1024px;
$laptop-l  : 1440px;

// ========================================================
// PARTIALS IMPORTS
// ========================================================

@import "../components/Container/container";
@import "../components/Header/header";
@import "../components/Hero/hero";
@import "../components/About/about";
@import "../components/Projects/projects";
@import "../components/Contact/contact";
@import "../components/Footer/footer";

// ========================================================
// GLOBAL STYLES
// ========================================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: $whitesmoke;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  border: 0;
  outline: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}
