.contact {
  color: $white;
  background: $blue;

  .container {
    padding: 100px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 530px;
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
    margin: 0 auto;

    label {
      margin-bottom: 10px;
      font-weight: bold;
    }

    input,
    textarea {
      border-radius: 4px;
      font-family: "Poppins";
      font-size: 16px;
      padding: 5px 10px;
    }

    textarea {
      $input-height: 35px;
      margin-bottom: 40px;
      min-width: 100%;
      max-width: 100%;
      min-height: $input-height * 3;
      max-height: $input-height * 5;
    }

    input:not([type="submit"]) {
      margin-bottom: 20px;
    }

    input[type="submit"] {
      color: $blue;
      width: max-content;
      padding: 5px 40px;
      align-self: center;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
