.contact {
	color: $white;
	background: linear-gradient(135deg, $lighter-blue, $blue);

	.container {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 100px 0;
	}

	h1 {
		@media screen and (max-width: $tablet) {
			margin: 0;
		}
	}

	&__plane {
		position: absolute;
		top: 110px;
		left: 65%;

		@media screen and (max-width: $tablet) {
			position: relative;
			top: initial;
			left: initial;
			margin: 20px 0;
			transform: translateX(70px);
		}
	}

	form {
		display: flex;
		flex-direction: column;
		width: 530px;
		@media screen and (max-width: $tablet) {
			width: 100%;
		}
		margin: 0 auto;

		label {
			margin-bottom: 10px;
			font-weight: bold;
		}

		input,
		textarea {
			border-radius: 4px;
			font-family: "Poppins";
			font-size: 16px;
			padding: 5px 10px;
		}

		textarea {
			$input-height: 35px;
			margin-bottom: 40px;
			min-width: 100%;
			max-width: 100%;
			min-height: $input-height * 3;
			max-height: $input-height * 5;
		}

		input:not([type="submit"]) {
			margin-bottom: 20px;
		}

		input[type="submit"] {
			background: $white;
			color: $blue;
			width: max-content;
			padding: 5px 40px;
			align-self: center;
			font-weight: bold;
			-webkit-appearance: none
			transition: opacity 0.2s;

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}
