header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;

	a {
		display: flex;

		img {
			@media screen and (max-width: $mobile-ml) {
				width: 50px;
			}
		}
	}

	nav ul {
		display: flex;
		align-items: center;
		font-weight: bold;

		@media screen and (max-width: $mobile-l) {
			font-size: 14px;
		}

		li {
			transition: color 0.2s;

			&:hover {
				cursor: pointer;
				color: $blue;
			}

			&:last-child {
				background: $blue;
				color: $white;
				border-radius: 5px;
				padding: 3px 10px;
				transition: opacity 0.2s;

				@media screen and (max-width: $mobile-l) {
					padding: 3px 7px;
				}

				&:hover {
					opacity: 0.8;
				}
			}

			&:not(:last-child) {
				margin-right: 20px;

				@media screen and (max-width: $mobile-l) {
					margin-right: 10px;
				}
			}
		}
	}
}
